.login-container {
  margin-top: 100px;
}

.login-content {
  padding: 30px;
  text-align: center;
  background: white;
}

p  {
  padding: 20px;
}

.logo {
  margin: 0 auto;
}
.btdelete {
  padding-top: 10px;
}
.login-button {
  width: 20%;
  height: 30%;
  letter-spacing: 2px;
}
regbtn {
  position: relative;
}
.unimpText {
  position: relative;
  top: 10px;
  cursor: pointer;
}
.unimpText:hover {
  text-decoration: underline;
}
