body {
  background-color: black;
}
.login-container {
  margin-top: 100px;
}

.login-content {
  padding: 30px;
  text-align: center;
  background: white;
}

p  {
  padding: 20px;
}

.logo {
  margin: 0 auto;
}

.login-button {
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.unimpText {
  position: relative;
  top: 10px;
  cursor: pointer;
}
.unimpText:hover {
  text-decoration: underline;
}
